# Build results
[Bb]in/
[Oo]bj/
publish/
port.txt

# VS Code
.vscode/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Blazor
wwwroot/_framework/
!wwwroot/_framework/blazor.web.js
